<div class="d-flex justify-content-center align-items-center vh-100">
        <form id="changePassword" method="post">
            <h1 class="h3 mb-3 fw-normal">Change Password</h1>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" name="currentPassword" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Enter Current Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" name="newPassword" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Enter New Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" id="changePasswordButton" type="submit">Change Password</button>
            <p id="resultPasswordChange"></p>
        </form>
</div>
<script>
    document.getElementById("changePasswordButton").addEventListener("click",function(){
        const currentPassword=document.getElementById("floatingInput").value;
        const newPassword=document.getElementById("floatingPassword").value;
        console.log(newPassword, currentPassword)
        const data = {
                "currentPassword":currentPassword,
                "newPassword":newPassword
            }

        fetch(`/changePassword`,{
            method : 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        }).then(response=>response.json())
        .then(data =>{
            const addResult = document.getElementById("resultPasswordChange");
            addResult.innerHTML = JSON.stringify(data);
            console.log(data)
        }).catch(error => console.log(error));
    })
</script>