<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    {% include 'bootstrap.html' %}
    <style>
        .message {
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: bold;
        }

        .success {
            color: green;
        }

        .error {
            color: red;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <div>
            {% include 'change_password_template.html' %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>