<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    {% include 'bootstrap.html' %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div>
            {% include 'login_template.html' %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>