<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <form>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="inputEmail3" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="inputFullName" placeholder="what is your name?">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="inputEmail3" class="form-label">Email Id</label>
                    <input type="email" class="form-control" id="inputEmailId" placeholder="Let us your Email id">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="inputEmail3" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Create a password for your account">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="inputEmail3" class="form-label">Mobile number</label>
                    <input type="text" class="form-control" id="inputMobileNumber" placeholder="Enter your Mobile number">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="inputExperience" class="form-label">Year of Experience</label>
                    <select class="form-select" id="inputExperience">
                        <option value="0">Less than 1 year</option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">3 years</option>
                        <option value="4">4 years</option>
                        <option value="5">5 years</option>
                        <option value="6">6 years</option>
                        <option value="7">7 years</option>
                        <option value="8">8 years</option>
                        <option value="9">9 years</option>
                        <option value="10">10+ years</option>
                    </select>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary">Register now</button>
        </form>
    </div>
    <div class="col-3">
    </div>
</div>